<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>    
    <!--Url from a demo organization-->
    <add key="organizationUrl" value=""/>
    <!--Client ID saved from Azure AD App Registration-->
    <add key="clientId" value=""/>
    <!--Key we saved from App Registration Secret-->
    <add key="appKey" value=""/>
    <!--Azure AD Tenant, found on the App Registration-->
    <add key="tenantID" value=""/>
  </appSettings>
  <connectionStrings>
    <add  name="cds-connection-string" connectionString="AuthType=ClientSecret;
           url=;
          ClientId=;
          ClientSecret="/>
  </connectionStrings>
</configuration>